/* ********************************************************************** *\
 *         Copyright IBM Corporation 1988,1991 - All Rights Reserved      *
 *        For full copyright information see:'andrew/config/COPYRITE'     *
\* ********************************************************************** */

/**/#
/**/# The following comes from the macro file
/**/#

#if defined(_IBMR2) || defined(RiscAIX)
#include <rs_aix31/system.mcr>
#define MacroIncludeFile rs_aix31/system.mcr
#endif /* RS6000 */

#if (defined(MACH) && defined(i386))
#include <i386_mach/system.mcr>
#define MacroIncludeFile i386_mach/system.mcr
#endif /* AIX */

#if defined(AIX) && (!defined(i386))
#include <rt_aix221/system.mcr>
#define MacroIncludeFile rt_aix221/system.mcr
#endif /* AIX */

#if (defined(AIX) || defined(aix)) && (defined(i386))
#include <ps_aix12/system.mcr>
#define MacroIncludeFile ps_aix12/system.mcr
#endif /* AIX */

#ifdef ibm032
#include <rt_aos4/system.mcr>
#define MacroIncludeFile rt_aos4/system.mcr
#endif /* ibm032 */

#ifdef vax
#ifndef ultrix
#include <vax_43/system.mcr>
#define MacroIncludeFile vax_43/system.mcr
#else /* ultrix */
#if (defined(vax2) && !defined(vax3) && !defined(vax4) && !defined(vax5))
#include <vax_22/system.mcr>
#define MacroIncludeFile vax_22/system.mcr
#else /* #if (defined(vax2) && !defined(vax3) && !defined(vax4) && !defined(vax5)) */
#include <vax_3/system.mcr>
#define MacroIncludeFile vax_3/system.mcr
#endif /* #if (defined(vax2) && !defined(vax3) && !defined(vax4) && !defined(vax5)) */
#endif /* ultrix */
#endif /* vax */

#ifdef sun
#if defined(mc68010) || defined(sun2) /* sun2 */
#include <sun2_35/system.mcr>
#define MacroIncludeFile sun2_35/system.mcr
#endif /* mc68010 or sun2 /* sun2 */

#if defined(mc68020) || defined(sun3) /* sun3 */
#ifndef sunV3
#define sunV3 0
#endif /* sunV3 */
#if sunV3
#include <sun3_35/system.mcr>
#define MacroIncludeFile sun3_35/system.mcr
#else /* sunV3 */
/*
 * Sleazy hack to tell 4.0[.x] from 4.1[.x].
 * <alloca.h> should be safe to include, as it only defines "alloca()"
 * and, in 4.1[.x], "_alloca_h".  Neither of those should affect "imake".
 */
#include <alloca.h>
#ifdef _alloca_h
/*
 * 4.1[.x].
 */
#include <sun3_41/system.mcr>
#define MacroIncludeFile sun3_41/system.mcr
#else /* sunV4_1 */
/*
 * 4.0[.x].
 */
#include <sun3_4/system.mcr>
#define MacroIncludeFile sun3_4/system.mcr
#endif /* _alloca_h */
#endif /* sunV3 */
#endif /* sun3 */

#if defined(sparc) || defined(sun4) /* sun4 */
/*
 * Same sleazy hack as for Sun-3s.
 */
#include <alloca.h>
#ifdef _alloca_h
#include <sun4_41/system.mcr>
#define MacroIncludeFile sun4_41/system.mcr
#else /* sunV4_1 */
#include <sun4_40/system.mcr>
#define MacroIncludeFile sun4_40/system.mcr
#endif /* sunV4_1 */
#endif /* sparc or sun4  */
#endif /* sun */

#ifdef hpux
#ifdef hp9000s800
#include <hp800/system.mcr>
#define MacroIncludeFile hp800/system.mcr
#else /* hp9000s800 */
#include <hp300/system.mcr>
#define MacroIncludeFile hp300/system.mcr
#endif /* hp9000s800 */
#endif /* hpux */

#ifdef mac2
#include <mac2_51/system.mcr>
#define MacroIncludeFile mac2_51/system.mcr
#endif /* mac2 */

#if (defined(mips) && defined(ultrix))
#include <pmax_ul4/system.mcr>
#define MacroIncludeFile pmax_ul4/system.mcr
#endif /* mips && ultrix */

#if defined(sgi)
#include <sgi_4d/system.mcr>
#define MacroIncludeFile sgi_4d/system.mcr
#endif /* sgi */

/* Perhaps this should be #if defined(apollo) && defined(mc68020) ? */
#ifdef apollo
#include <apollo68k/system.mcr>
#define MacroIncludeFile apollo68k/system.mcr
#endif

#ifdef SCOunix
#include <sco_i386/system.mcr>
#define MacroIncludeFile sco_i386/system.mcr
#endif /* SCOunix */

#ifdef NeXT
#include <next_mach20/system.mcr>
#define MacroIncludeFile next_mach20/system.mcr
#endif /* next_mach20 */

/**/#
/**/# Back from the macro file
/**/#
