# In function emptywrap -
"badfile.psw", line 56: invalid characters '@!#$%^&' in definition
"badfile.psw", line 56: syntax error near text "*"
"badfile.psw", line 56: invalid characters ')'
"badfile.psw", line 58: endps without matching defineps
# In function paramtest -
"badfile.psw", line 62: parameter s1 reused
"badfile.psw", line 62: output parameter y must be starred or subscripted
"badfile.psw", line 63: non-char input parameter s1 used as string
# In function unknownsize -
"badfile.psw", line 73: syntax error near text "["
# In function visual -
"badfile.psw", line 91: syntax error near text "inch"
"badfile.psw", line 91: invalid characters '}' in definition
"badfile.psw", line 92: invalid characters '.' in definition
"badfile.psw", line 93: invalid characters '.' in definition
"badfile.psw", line 100: invalid characters '.' in definition
"badfile.psw", line 262: end of input file/missing endps
pswrap: error in parsing badfile.psw
